.file-uploader {
    width: 75%;
    box-sizing: border-box;
    height: 150px !important;
    border: 1px dashed #5a5278 !important;
    background-color: rgb(90, 82, 120, 0.05) !important;

}
.main-container {
    width: calc(100% - 240px);
    height: 100%;
    margin-left: 240px;
}
@media only screen and (max-width: 768px) {
   .main-container {
        width: 100%;
        margin-left: 0;
    }
}

.new-container {
    width: calc(100% - 240px);
    height: 100%;
    margin-left: 240px;
}
@media only screen and (max-width: 768px) {
    .new-container {
        width: 100%;
        margin-left: 0;
    }
}

.detail-container {
    width: calc(100% - 240px);
    height: 100%;
    margin-left: 240px;
}
@media only screen and (max-width: 768px) {
    .detail-container {
        width: 100%;
        margin-left: 0;
    }
}
.update-container {
    width: calc(100% - 240px);
    height: 100%;
    margin-left: 240px;
}
@media only screen and (max-width: 768px) {
    .update-container {
        width: 100%;
        margin-left: 0;
    }
}

